.component-search-result-row {
  border-bottom: 1px solid #ccc;
  padding: 0px 10px;
  display: flex;
}

.component-search-result-row:hover {
  background: #eee;
}

.component-search-result-row img {
  height: 40px;
  padding: 8px;
}

.component-search-result-row .title {
  line-height: 40px;
  padding-left: 8px;
}

.component-search-result-row:hover .title {
  display: none;
}

.component-search-result-row .info {
  display: none;
  padding-left: 8px;
  line-height: 40px;
  color: #ccc;
}

.component-search-result-row:hover .info {
  display: inline-block;
}
